@charset "utf-8";

#container {
    width: 1200px;
    margin: 0 auto;
}
h1 {
    font-size: 36px;
    font-weight: 700;
    color: rosybrown;
    text-align: center;
}
h2 {
    font-size: 24px;
    color: rosybrown;
    font-weight: 600;
}
h3 {
    font-size: 18px;
    color: rosybrown;
    font-weight: 400;
}
#proc_pic, #desc {
    /* display: inline-block; */
}
#proc_pic {
    margin: 0px 20px auto 10px;
}
#cup {
    box-shadow: 1px 1px 2px #eee;
}
#small_pic {
    margin-top: 20px    ;
    text-align: center;
}
#small_pic img {
    margin-right: 11px;
}
.small {
    width: 60px;
    height: 60px;
}
#small_pic img:hover {
    cursor: pointer;
}
#desc {
    width: 300px;
    padding-top: 20px;
    margin-bottom: 50px;
}
.blue_text {
    color: blue;
    font-weight: bold;
}
